/* #Home {


}


#support {


}

#signup {


}

#login {
    clip-path: circle();
}

#black-hat {
    width: 0%;
    height: 0%;
    border-style: dotted;
    border-width: 30px 12px 10px;
    position: absolute;
    left: 10px;
    
}

#container {
    width: 200px;
    height: 100px;

    position: relative;
    bottom: 300px;
    left: 20px;
    border: 10px solid red;
    
} */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

main {
    margin-top: 4em;
    padding: 2em;
}

h1, h2 {
    margin-top: 0;
}

h2 {
    border-bottom: 1px solid #333;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Media queries */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav {
        margin-top: 1em;
    }
    
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin-right: 0;
        margin-bottom: 0.5em;
    }
    
    main {
        margin-top: 6em;
    }
}