/*html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
    */

:root {
    --first-clr: green;
}

h1 {
    color: var(--first-clr, blue);
}

img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

div > img {
    
    width: 25vw;
    height: 50vh;
    object-fit: cover;
}

div > img:hover {
    transform: rotate(90deg);
   color:
}

div {
    overflow: hidden;
}